/*@import '../alabaster.css';*/
/*@import 'theme.css';*/

/*input[type=text],
.wy-side-nav-search {
	border-radius:5px;
	border-color:#ffffff00;
}

input[type=text] {
	box-shadow:none;
	font-size:100%;
}*/