/*		Меню слева		*/

.wy-side-nav-search
{
	border-radius: 0 0 5px;
}

	/*	Лого картинка-кнопка	*/
.wy-side-nav-search>a img.logo
{
	margin: -5px auto -10px;
}

	/*	Поиск	*/
.wy-side-nav-search input[type=text]
{
	border-radius: 5px;
	border-color: white;
}

input[type="text"]
{
	box-shadow: none;
}

	/*	Цвет фона	*/
.wy-nav-side
{
	background: white;
}

	/*	Древо страниц	*/
.wy-menu-vertical
{
	position: relative;
	left: 15px;
	border-left: solid 1px #00000050;
}

		/*	Текст секций	*/
.wy-menu-vertical a
{
	color: #7e8b8c;
    font-weight: bold;
}

	/*	Нижняя фигня (которая вылезает)	*/
.rst-versions.shift-up
{
	overflow-y:hidden;
}

	/*	Ниджняя фигня (которая реклама (вроде))	*/
.ethical-dark-theme,
.ethical-sidebar
{
    background-color: #ffffff00;
    border:none;
    box-shadow: inset 0 0 10px -5px;
}