/*		Меню слева									*/

.wy-side-nav-search
{
	border-radius: 0 0 10px;
}

	/*	Лого картинка-кнопка						*/
.wy-side-nav-search>a img.logo
{
	margin: -5px auto -10px;
}

	/*	Поиск										*/
.wy-side-nav-search input[type=text]
{
	border-radius: 5px;
	border-color: white;
}

input[type="text"]
{
	box-shadow: none;
	border-radius: 5px;
}

	/*	Древо страниц								*/
.wy-menu-vertical
{
	position: relative;
	left: 15px;
	border-left: solid 1.2px #00000070;
}

		/*	Текст секций							*/
.wy-menu-vertical a
{
	color: #7e8b8c;
    font-weight: bold;
}

	/*	Нижняя фигня (которая вылезает)				*/
.rst-versions.shift-up
{
	border-radius: 0 10px 0 0;
	overflow-y: hidden;
}
.rst-versions .rst-current-version
{
	background-color: #123a6f;
	border-radius: 0 10px 10px 0;
}
.rst-versions .rst-other-versions
{
	color: #123a6f;
}
.rst-versions .rst-other-versions dd a
{
	color: #404040;
}

/*		Белый фон									*/
nav.wy-nav-side					/*	Меню (слева)	*/
.rst-versions.shift-up			/*	Нижняя фигня	*/
{
	background-color: white;
}
