.wy-nav-side
{
	background: white;
}

.wy-menu-vertical a
{
	color: #7e8b8c;
    font-weight: bold;
}

.rst-versions.shift-up
{
	overflow-y:hidden
}

.wy-side-nav-search input[type=text]
{
	border-radius: 5px;
	border-color: white;
}

input[type="text"]
{
	box-shadow: none;
}